:root {
    --color-accent: rgb(255, 112, 183);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    display: flex;
    border-bottom: 1px solid oklch(80% 3% 200 / 60%);
    margin-top: 1.5rem;
    padding: 0;
}

nav a {
    flex: 1;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-accent);
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200 / 60%);
    padding-bottom: 0.6em;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.6em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

h1 {
  font-size: 35px;
  margin-top: 20px;
  color: var(--color-accent);
  border-bottom: 0.1em solid oklch(80% 3% 200 / 60%);
  text-align: center;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
  color: var(--color-accent);
}

input, select, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.card.low {
  border: 2px solid red;
  background-color: #ffecec;
  margin: 10px 0;
  padding: 8px;
}

.card.ok {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 8px;
}

.item-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-accent);
}

.warning-box {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.badge.low {
  color: red;
  font-weight: bold;
}

.badge.ok {
  color: green;
  font-weight: bold;
}

.dropdown {
  max-height: 150px;
  overflow-y: auto;
  background: white;
}

.dropdown div {
  padding: 8px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}

.layout {
  display: flex;
  gap: 20px;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 220px;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap; /* prevents overflow on small screens */
}

.controls input {
  flex: 1; /* makes search bar expand */
  min-width: 150px;
}

.controls select {
  min-width: 160px;
}
